.headingContainer {
  width: 100%;
}

.header {
  font-family: 'Clash Display';
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin: 0 0 4px;
}

.sendButton {
  align-items: center;
  background-color: var(--primary200);
  border-radius: 12px;
  border: 0;
  color: var(--neutral100);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  margin: 4px 0 48px;
  width:100%;
}

.sendButton:disabled {
  background-color: var(--neutral600);
}
