.logoContainer {
  margin-bottom: 48px;
  width: 100%;
}

.headingContainer {
  width: 100%;
}

.header {
  font-family: 'Clash Display';
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin: 0 0 4px;
}

.headingSubLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px;
}

.signUpText {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  margin: 32px 0 16px;
}

.signUpText:before {
  content: '';
  background: var(--neutral100);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.signUpText:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: var(--neutral100);
  padding: 0 .5em;
  line-height: 1.5em;
  background-color: #121212;
}

.loginIcon {
  margin-left: 13.25px;
}

.footerText {
  color: var(--neutral100);
  font-family: 'Monserrat';
  font-size: 16px;
  text-decoration: none;
}

.footerInnerText {
  font-weight: 600;
}
