<div id="<%= dom_id organization %>">
  <p>
    <strong>Notifications team:</strong>
    <%= organization.notifications_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Notifications key:</strong>
    <%= organization.notifications_key %>
  </p>

</div>
